<md-toolbar color="primary"> {{ title }} </md-toolbar>

<md-card>
    <a><md-icon>home</md-icon></a>
    <!--this will be my search icon-->
    <form class="example-form">
        <md-form-field class="example-full-width">
            <input #search [(ngModel)]="city" [ngModelOptions]="{standalone: true}" 
            mdInput placeholder="Search for A City" (keyup.enter)="citySearch( search.value )" 
            />

            <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
            <md-datepicker #picker></md-datepicker>
            <!--this is a date picker I need to link data to-->
        </md-form-field>
    </form>
</md-card>

<div id="main-grid">
    <!--this sets up the grid layout for columns *VIP-->

    <div id="left-col"> LEFT COL
        <!--this sets up the left column-->

        <md-card class="city-card" 
       
        *ngFor="let data of searchResult"
        (click)="addFavoriteCity(data)"> 
        {{ data.display_location.full }} <br>
        Temp. {{ data.feelslike_f }}
        </md-card> <!--using interpolation to display data from the object in the html 
            from our search result and then clicking the card to add it to the favorite list-->

       <img md-card-image src="./assets/moviefilmstrip.png" alt="Photo of film strip should be here">
 <!--the md-card is the grey card which displays each citie's weather info, here I am trying to display the search through interlopation-->
        </div>

    <div id="center-col"> CENTER Col List of Cities
        <img  md-card-image src="./assets/moviefilmstrip.png" alt="Photo of film strip should be here">
    </div>

    <div id="right-col"> RIGHT COL Favorite Cities

        <md-card class="city-card" *ngFor="let city of favoriteCities; let i = index" 
        (click)="addFavoriteCities(city)">
            {{ city.display_location.full }} {{ city.temp_f }} <br> Temp. {{ city.temp_f }}
         
           <button (click)="removeFromFavoriteList(i)">Remove from favorites</button> 
           <!--md-raised-button color="primary" type="submit" class="btn btn-success">Remove from favorites</button> 
           I want to add a delete button on the weather card so the user can remove from the 
        favorites list-->
        </md-card>
        <!--when the user clicks on a weather card, then that card is added to the favorite cities column"-->
    </div>


</div>
