<md-toolbar color="primary"> {{ title }} </md-toolbar>

<md-card>
    <a><md-icon>home</md-icon></a>
    <!--this will be my search icon-->
    <form class="example-form">
        <md-form-field class="example-full-width">
            <input #search [(ngModel)]="city" [ngModelOptions]="{standalone: true}" 
            mdInput placeholder="Search for A City" (keyup.enter)="citySearch( search.value )" 
            />
            <!-- {{data}} trying to use interpolation to display data from the object in the html 
            from our search result-->

            <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
            <md-datepicker #picker></md-datepicker>
            <!--this is a date picker I need to link data to-->
        </md-form-field>
    </form>
</md-card>

<div id="main-grid">
    <!--this sets up the grid layout for columns *VIP-->

    <div id="left-col"> LEFT COL
        <!--this sets up the left column-->

        <!--  <md-form-field>-->
        <!--  <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">-->
        <!--  <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>-->
        <!--  <md-datepicker #picker></md-datepicker>-->
        <!--</md-form-field>-->

       <img md-card-image src="./moviefilmstrip.png" alt="Photo of film strip should be here">
          <!--  {{ city.display_location.full }} -->
 <!--the md-card is the grey card which displays each citie's weather info, here I am trying to display the search through interlopation-->
    

    </div>



    <div id="center-col"> CENTER Col List of Cities

        <md-card class="city-card" *ngFor="let city of weatherData" (click)="addFavoriteCity(city)">
            {{ city.display_location.full }} {{ city.temp_f }} <br> Temp. {{ city.temp_f }}
        </md-card>
        <!--goes through mock weather data for testing-->

    </div>

    <div id="right-col"> RIGHT COL Favorite Cities

        <md-card class="city-card" *ngFor="let city of favoriteCities;" 
        (click)="addFavoriteCities(city)">
            {{ city.display_location.full }} {{ city.temp_f }} <br> Temp. {{ city.temp_f }}
        <!--want to add a delete button on the weather card so the user can remove from the 
        favorites list button md-raised-button color="primary" type="submit" class="btn btn-success">Delete</button-->
        </md-card>
        <!--when the user clicks on a weather card, then that card is added to the favorite cities column"-->
    </div>


</div>
