<md-toolbar color="primary"> {{ title }} </md-toolbar>
<input type="text" placeholder="video">
  <button>Search</button>

<div id=main-grid>
    <div id="left-col"> 
    Search
    <md-card class="city-card"
    *ngFor= "let city of favoriteCity"
    
      
      
    </div>
        
    <div id="center-col">
        List of Cities
        <md-card class="city-card"
        *ngFor="let city of weatherData"
        (click)="addFavoriteCity(city)">
        {{ city.display_location.full }} {{ city.temp_f }} <br>
        Temp. {{ city.temp_f }}
        
        </md-card>
    </div>
    
    <div id="right-col"> Favorite Cities 
    
        <md-card class="city-card"
        *ngFor="let city of favoriteCities;"
        (click)="addFavoriteCities(city)">
        {{ city.display_location.full }} {{ city.temp_f }} <br>
        Temp. {{ city.temp_f }}
        
        </md-card>
    </div>