<md-toolbar color="primary"> {{ title }} </md-toolbar>

    <md-card>
       <form class="example-form">
            <md-form-field class="example-full-width">
                 <input #search [(ngModel)]="city" [ngModelOptions]="{standalone: true}" mdInput 
            placeholder="Search for A City"
           (keyup.enter)="citySearch( search.value )"/>
            </md-form-field> 
        </form>
    </md-card>

<div id="main-grid"> <!--this sets up the grid layout for columns *VIP-->

    <div id="left-col"> LEFT COL where i want search <!--this sets up the left column-->
   
       <!-- <md-card class="city-card"
        *ngFor= "let city of favoriteCity"> <!--the md-card is the grey card which displays each citie's weather info-->
         
   <form class="container" #registerForm="ngForm" (ngSubmit)="signupForm(registerForm)" novalidate>
      <md-form-field>
        <input placeholder= "Email" name="email" [(ngModel)]="user.email" type="email" mdInput required>
      </md-form-field>
 
      <md-form-field>
        <input placeholder="First Name" name="firstName" [(ngModel)]="user.firstName" type="string" mdInput required >
      </md-form-field>

      <md-form-field>
        <input placeholder="Last Name" name="lastName" [(ngModel)]="user.lastName" type="string" mdInput required >
      </md-form-field>

      <md-form-field>
        <input placeholder="Password" name="password" [(ngModel)]="user.password" type="password" mdInput required >
      </md-form-field>
 
      <button type="submit" class="btn btn-success">Submit</button>
 
        </form>
    </div>

     
        
    <div id="center-col"> CENTER Col List of Cities
    
        <md-card class="city-card" 
        *ngFor="let city of weatherData"
        (click)="addFavoriteCity(city)">
        {{ city.display_location.full }} {{ city.temp_f }} <br>
        Temp. {{ city.temp_f }}
        </md-card>
        
    </div>
    
    <div id="right-col"> RIGHT COL Favorite Cities 
    
        <md-card class="city-card"
       *ngFor="let city of favoriteCities;"
        (click)="addFavoriteCities(city)">
        {{ city.display_location.full }} {{ city.temp_f }} <br>
        Temp. {{ city.temp_f }}
        
        </md-card>
    </div>


</div>