<md-toolbar color="primary"> {{ title }} </md-toolbar>
<input type="text" placeholder="Search Here">
  <button>Search</button>

<div id=main-grid> <!--this sets up the grid layout for columns *VIP-->

    <div id="left-col"> LEFT COL where i want search <!--this sets up the left column-->
   
    <md-card class="city-card"
    *ngFor= "let city of favoriteCity"> <!--the md-card is the grey card which displays each citie's weather info-->
        
    </md-card>
    
      
    </div>
        
    <div id="center-col"> CENTER Col List of Cities
        <md-form-field class="example-full-width">
        <input [(ngModel)]="city" mdInput placeholder="Search for a city">
        
        </md-form-field> 
        
        <md-card class="city-card" 
        *ngFor="let city of weatherData"
        (click)="addFavoriteCity(city)">
        {{ city.display_location.full }} {{ city.temp_f }} <br>
        Temp. {{ city.temp_f }}
        </md-card>
        
    </div>
    
    <div id="right-col"> RIGHT COL Favorite Cities 
    
        <md-card class="city-card"
       *ngFor="let city of favoriteCities;"
        (click)="addFavoriteCities(city)">
        {{ city.display_location.full }} {{ city.temp_f }} <br>
        Temp. {{ city.temp_f }}
        
        </md-card>
    </div>